.Button {
    padding: 10px;
    color:#fff;
    font-weight: 700;
    font-size: 45px;
    border: 10px solid #000;
    background-color: blue;
    margin: 30px;
  }
  .app-footer{
    padding: 15px;
    background-color: black;
    color: #fff;  
  }
  .App .divider{
    border-bottom: 2px solid #6d6a6a;
  }
  button {
    margin-left: 10px;
  }
  .render-list-text-wrap {
    text-align: left;
    margin: 10px 0px 20px 30px;
}